# Hotel Booking Example

### Objective

#### Background
#### Business Understanding

#### Data Understanding
Data Sources: Datacamp

#### Data Preperation
#### Data Preperation/System Design

Exploratory Data Analysis (EDA)

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
from datetime import datetime
from datetime import timedelta
from dateutil import rrule
import time

In [14]:
df = pd.read_csv('./Datasets/datacamp_hotel_booking_demand_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    100 non-null    int64
 1   StockCode    100 non-null    object
 2   Description  100 non-null    object
 3   Quantity     100 non-null    int64
 4   InvoiceDate  100 non-null    object
 5   UnitPrice    100 non-null    float64
 6   CustomerID   100 non-null    int64
 7   Country      100 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [15]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850,United Kingdom